#root {
  width: 100%;
  /* max-width: 1200px; */
  /* min-width: 1150px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  background-color: rgb(76, 43, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  height: 100%;
}

.NavDiv {
  width: 33%;
}

.NavTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavCart {
  text-align: right;
  padding: 0 10px;
}

.NavUser {
  text-align: left;
  padding: 0 10px;
}

.GroceriesApp-Container {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;

  /* max-width: 800px; */
  /* border: 1px solid white; */
}

.CartContainer {
  width: 25%;
  justify-content: center;

  /* position: sticky; */
  /* top: 0; Adjust this value as needed */
  /* max-height: 100vh; Ensure it doesn't exceed the viewport height */
  /* overflow-y: auto; Add scroll if content exceeds the container height */

  /* border: 1px solid white; */
}

.CartCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: rgb(39, 38, 48);
  /* border: 1px solid white; */
  border: 0.5px solid rgb(73, 72, 72);
  border-radius: 8px;
}

.CartCardInfo {
  /* display: flex;
  justify-content: space-around; */
  width: 50%;
}

.ProductQuantityDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QuantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}
.QuantityBtn:hover {
  background-color: rgb(76, 43, 226);
}

img {
  height: 50px;
  border-radius: 5px;
}

.counter-container {
  /* border: 1px solid white; */
  display: flex;
  width: 70%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
}

.counter-button {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.CartListBtns {
  display: flex;
  justify-content: space-around;
}

.RemoveButton {
  background-color: rgb(190, 0, 0);
}

#BuyButton {
  background-color: green;
  width: 50%;
}

/* My Classes */
.nav-cart-count-badge {
  position: absolute;
  top: -6px;
  right: -12px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.nav-cart {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

.product-container-full {
  margin-top: 21px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.product-container-seventy-five {
  margin-top: 21px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.product-card {
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: rgb(56, 50, 82);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 10px;
}

/*  */
@media (max-width: 1024px) {
  .product-container-full,
  .product-container-seventy-five {
    width: 100%;
  }

  .GroceriesApp-Container {
    flex-direction: column;
    align-items: center;
  }

  .CartContainer {
    width: 100%;
    margin-top: 20px;
  }

  .NavUser {
    display: none;
  }
}
